@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$font-family: "Poppins", sans-serif;
$dark-color: #130739;
$red-color: #3b0634;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: $dark-color;
  color: white;
  font-family: $font-family;
  font-weight: 600;
  h1 {
    font-size: 3rem;
  }
}

.messages {
  height: 75vh;
  width: 80vw;
  margin: auto;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: auto 2rem;
  padding-top: 1rem;
  padding-right: 2rem;
  .message {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 10px 2rem;
    width: max-content;
    color: white;
  }
  .user {
    margin-left: auto;
    background-color: $dark-color;
  }
  .you {
    background-color: $red-color;
  }
}

.send-message-section {
  position: fixed;
  top: 89%;
  left: 9%;
  .input-message {
    height: 8vh;
    width: 80vw;
    border-radius: 2rem;
    border-color: $dark-color;
    font-size: 2rem;
    padding-left: 3%;
    color: $dark-color;
  }
  .send-btn {
    position: fixed;
    top: 89.5%;
    right: 9%;
    padding: 1rem;
    border: none;
    background-color: transparent;
    img {
      width: 2vw;
    }
  }
}

.messages::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.messages::-webkit-scrollbar-track {
  background: white; /* color of the tracking area */
}

.messages::-webkit-scrollbar-thumb {
  background-color: $dark-color; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}
