.main-container {
    margin: 2rem;
    background-color: darkgoldenrod;
    padding: 2rem;
    font-size: 1.5rem;
    height: 84vh;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}
