$blue-color: #1871c2;
$pos-dark: #2f9e44;
$pos-light: #b2f2bb;
$neg-dark: #e03131;
$neg-light: #ffc9c9;

.stock-price-graph-container {
    width: 70%;
    box-sizing: border-box;
    .company-info {
        height: 9vh;
        padding: 0 2rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .logo-container {
            border: 1px solid black;
            display: flex;
            padding: 6px 1rem;
            width: 16rem;
            .logo {
                width: 5rem;
            }
            h2 {
                margin: auto;
                padding-left: 8px;
                font-size: 2rem;
                font-weight: 500;
            }
        }
        .price-container {
            display: flex;
            width: 20rem;
            border: 2px solid grey;
            border-radius: 6px;
            justify-content: space-evenly;
            padding: 16px 0.7rem;
            h2 {
                font-size: 2rem;
                margin: auto;
                font-weight: 400;
            }
            h3 {
                margin-top: auto;
                margin-bottom: 0.3rem;
            }
            .up {
                color: $pos-dark;
            }
            .down {
                color: $neg-dark;
            }
        }
        .quantity-input {
            font-size: 1.5rem;
            width: 10rem;
            padding-left: 1.2rem;
            box-sizing: border-box;
            border-radius: 6px;
        }
        .buy-btn {
            width: 8rem;
            background-color: $pos-light;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $pos-dark;
            border-radius: 6px;

            cursor: pointer;
            h2 {
                font-size: 2rem;
                color: $pos-dark;
            }
        }
        .sell-btn {
            cursor: pointer;
            width: 8rem;
            background-color: $neg-light;
            display: flex;
            border-radius: 6px;

            justify-content: center;
            align-items: center;
            border: 1px solid $neg-dark;
            h2 {
                font-size: 2rem;
                color: $neg-dark;
            }
        }
        .stock_dropdown_button {
            background-color: #ffffff !important;
        }
    }
    .bar-graph-wrapper {
        margin: 2rem;
    }
    #dropdown-basic-button {
        background-color: white;
        display: flex;
        align-items: center;
        border: 2px solid grey;
        padding: 0.9rem;
        box-sizing: border-box;
    }

    .stock_dropdown {
        display: flex;
        .stock_symbol {
            padding: 0.5rem;
            border: 2px solid grey;
            border-radius: 6px;
        }
        .stock_name {
            margin: auto;
            padding: 0 1.5rem;
            font-size: 2rem;
        }
    }
    .stock-dropdown-item {
        width: auto;
        padding: 1rem;
        font-size: 1rem;
        .stock-dropdown-item-link {
            text-decoration: none;
            color: black;
        }

        .stock_symbol {
            font-size: 0.8rem;
        }
        .stock_name {
            margin: auto 0;
            font-size: 1.5rem;
        }
    }
    .stock-dropdown-item:hover {
        background-color: rgba(128, 128, 128, 0.212);
    }
    .dropdown-items-container {
        height: 18rem;
        overflow: scroll;
    }
}
