@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 20px;
}
@media screen and (max-width: 850px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 18px;
  }
}

body {
  max-width: 60rem;
  margin: 0 auto;
  background-color: #fba4a6;
  color: white;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    margin: 0 1rem;
  }
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
#navbar .nav-logo {
  font-size: 1rem;
  font-weight: 900;
}
@media screen and (max-width: 576px) {
  #navbar .hambgr-menu:hover + .nav-options {
    display: block;
    padding: 10rem;
  }
}
#navbar .nav-options {
  display: flex;
}
#navbar .nav-options h2 {
  margin-left: 3rem;
}
@media screen and (max-width: 576px) {
  #navbar .nav-options {
    display: none;
  }
}
#navbar .hambgr-menu {
  display: none;
}
@media screen and (max-width: 576px) {
  #navbar .hambgr-menu {
    display: block;
    margin-right: 2rem;
  }
}

#main-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-top: 3rem;
}
@media screen and (max-width: 576px) {
  #main-section {
    display: block;
    padding-top: 0;
    margin-bottom: 10rem;
  }
}
#main-section .main-left-section {
  width: 40%;
  padding-top: 0rem;
}
@media screen and (max-width: 576px) {
  #main-section .main-left-section {
    width: 100%;
  }
}
#main-section .main-left-section h1 {
  font-size: 5rem;
  line-height: 7rem;
}
@media screen and (max-width: 1080px) {
  #main-section .main-left-section h1 {
    font-size: 4rem;
  }
}
#main-section .main-left-section h3 {
  padding-top: 0.5rem;
  width: 85%;
  font-weight: 900;
  line-height: 1.5rem;
}
#main-section .main-left-section .get-started-btn {
  margin-top: 2rem;
  background-color: #be5569;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  border-radius: 0.5rem;
  border: none;
}
#main-section .main-right-section img {
  width: 35rem;
}
@media screen and (max-width: 800px) {
  #main-section .main-right-section img {
    width: 15rem;
  }
}
@media screen and (max-width: 1080px) {
  #main-section .main-right-section img {
    width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  #main-section .main-right-section {
    width: 60%;
  }
  #main-section .main-right-section img {
    width: 25rem;
    padding-top: 4rem;
  }
}
@media screen and (max-width: 576px) {
  #main-section .main-right-section {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */