<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <springProfile name="dev">
                <root level="DEBUG">
                    <appender-ref ref="CONSOLE" />
                </root>
    </springProfile>
    <springProfile name="prod">
                <root level="WARN">
                    <appender-ref ref="CONSOLE" />
                </root>
    </springProfile>
</configuration>