$blue-color: #1871c2;
$pos-dark: #2f9e44;
$pos-light: #b2f2bb;
$neg-dark: #e03131;
$neg-light: #ffc9c9;

body {
    font-family: "Poppins", sans-serif;
}

.main-container {
    overflow: hidden;
    padding-top: 1rem;
    box-sizing: border-box;
    display: flex;
}
