$blue-color: #1971c2;
$white-color: #dbe8f5;

.profit-summary-container {
    .profit-summary-company {
        background-color: $blue-color;
        margin: 2rem auto;
        padding: 1.5rem 2rem;
        color: $white-color;
        border-radius: 2rem;
        max-width: 80rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        .profit-summary-company-left {
            h1 {
                font-weight: 400;
            }
            .profit-company-tag {
                font-size: 2rem;
                font-weight: 600;
            }
        }

        .profit-summary-company-right {
            margin: auto 0;
            h1 {
                font-weight: 400;
            }
        }
    }
}

.loader-wrapper {
    margin: auto;
}
