$blue-color: #1971c2;
$white-color: #dbe8f5;

.dashboard-container {
    margin: 1rem;
    .dashboard-tabs-container {
        display: flex;
        .dashboard-tabs-btn {
            font-size: 1.1rem;
            margin: 0 1rem;
            border: none;
            background-color: white;
        }
        .dashboard-tabs-active-btn {
            border-bottom: 4px solid $blue-color;
        }
    }
}
